/07_threads/01_one_thread
/07_threads/04_openmp2_nothreads
/07_threads/04_openmp2_threads
/07_threads/03_openmp1
/07_threads/02_N_threads
/04_processes/test_pipes_01
/04_processes/test_pipes_02
/04_processes/posix_process_2
/04_processes/posix_process_1
/04_processes/posix_process_3
/04_processes/multiple_children
/02_cpp_review/03_classes_2/classes_2
/02_cpp_review/02_classes/classes
/02_cpp_review/04_classes_4/classes_3
/02_cpp_review/01_hello_world/hello_world
/03_qt/build-ejemplo1_qt-Desktop-Debug/ejemplo1_qt
/01_c_review/pointers/hello_world
/01_c_review/pointers/c_review
/01_c_review/pointers/arrays_pointers
/01_c_review/function_pointers/function_pointers
/01_c_review/structures/structures
/06_pipes/01_ordinary_pipe
/06_pipes/02_named_pipe_2
/06_pipes/02_named_pipe_1
/05_shared_memory/01_smem_producer
/05_shared_memory/03_shmem_flag_rx
/05_shared_memory/03_shmem_flag_tx
/05_shared_memory/02_pi
/05_shared_memory/04_queue_producer
/05_shared_memory/04_queue_consumer
/05_shared_memory/01_smem_consumer
/05_shared_memory/02_pi_parallel
